In [1]:
## Assignment 1
## Q1
str="mohit"
type(str)

str

In [3]:
lst=["mohit","lohit",23,45,"shashi"]
type(lst)

list

In [4]:
flt= 10.2
type(flt)

float

In [ ]:
lst=("mohit","lohit",23,45,"shashi")
type(lst)

In [6]:
##Q2
var1=''
type(var1)

str

In [7]:
var2 = '[DS,ML,PYTHON]'
type(var2)

str

In [9]:
var3 = ['DS','ML','PYTHON']
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

In [12]:
## Q3
## (i)/Division is used to devide one number from another
a=4
b=6
c=a/b
print(c)

0.6666666666666666

In [13]:
## (ii)% it is used to show the reminder in a devision
a=6
b=5
c=a%b
print(c)

1

In [17]:
## (iii) // is used to donate the the no. of times the numerator is devisible by denominator
a=14
b=6
c=a//b
print(c)

2

In [24]:
## (iv) ** it shows the power function
a=3
b=3
c=a**b
print(c)

27

In [31]:
## Q4 
lst=["mohit","lohit",23,45,33.4,"sid",66,55,44.8,True]
for x in lst:
    print(x,type(x))

mohit <class 'str'>
lohit <class 'str'>
23 <class 'int'>
45 <class 'int'>
33.4 <class 'float'>
sid <class 'str'>
66 <class 'int'>
55 <class 'int'>
44.8 <class 'float'>
True <class 'bool'>

In [39]:
## Q5
a=int(input("Please enter number 1. "))
b=int(input("Please enter number 1. "))
count = 0
while a>=b:
    a=a-b
    count+=1
if a==0:

    print("Number 1 is divisible b number 2 and it is {} times divisible ".format(count))
else:  
    print("number 1 is not fully divisible by number 2 ")

Please enter number 1.  15
Please enter number 1.  3

Number 1 is divisible b number 2 and it is 5 times divisible

In [40]:
## Q6
lst=list(range(1,26))
for x in lst:
    if x%3==0:
        print( "{} is divisible by 3".format(x))
    else:
        print("{} is not divisible by 3".format(x))

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [43]:
##7
##Mutable data types are those who can be changed once they have been created like lists, dictionaries and sets
x = [1, 2, 3, 4]
x.append(5)
print(x)  
x[0] = 6
print(x)  
## on the other hand immutable data types are those who cannot be changed once they have been created like strings and tuple
x=("ram","shyam",44,55)
x.append(66)
print(x)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

AttributeError: 'tuple' object has no attribute 'append'